<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    <link rel="stylesheet" href="../static/css/users.css">
</head>
<body>
    <div class="container">
        <h1>Users</h1>
        <a href="{{ url_for('add_user') }}" class="btn btn-update">
            Add User
        </a>
        <table id="users-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Attendance ID</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data will be inserted here -->
            </tbody>
        </table>
    </div>
    <script src="../static/JS/users.js"></script>
    <script src="../static/JS/event_listner_users.js"></script>
</body>
</html>
